<head>
    <Title>Trident Films</Title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<style>
    h4, h1{
        text-align: center;
    }
    img{
        height: 300px;
    }
    #navimg{
        height: 50px;
    }
    
   
</style>
<nav class="navbar navbar-light bg-light">
  <img href="/" onClick="window.location='/'" class="nav-logo" id="navimg" src="https://png2.kisspng.com/sh/fb02c0207fead2c98f5838f014a0f4b2/L0KzQYm3V8A0N5l6iJH0aYP2gLBuTfxwb5CyiNH8ZXnnf7A0lQJqbJZzjJ98eX3lf720VfI0apNpeqgBZUe7Q4S1UsEzPWQ2UKk6NUOzRoW4WMQ3PGY3TZD5bne=/kisspng-logo-poseidon-trident-symbol-5b3bbdb66e7833.2125318715306418464525.png">
  <form class="form-inline" action="/results" method="GET">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
  </form>
 </nav>
<br>
<div class="container">
    <h1><%= data["Title"] %></h1>
<h4><%= data["Rated"] %> | <%= data["Runtime"] %> | <%= data["Released"] %></h4>
<br>
<br>
<img src="<%= data["Poster"] %>">
<div id="scores">
    <center>
        <h4>Metascore: <%= data["Metascore"]%>/100</h4>
        <h4>IMDB Rating <%= data["imdbRating"]%>/10</h4>
    </center>
</div>



<br>
<p>Cast: <%= data["Actors"] %></p>
<br>
<br>


<p>Summary of <%= data["Title"] %>: <%= data["Plot"] %></p>
</div>




